header img
{
    width: 150px;
}

header nav
{
    padding-left: 65%;
    font-size: 20px;
    margin-top: -30px;
    
}

span h1
{
    font-size: 45px;
    margin-left: 10%;
    
}

span h2
{
    color: #ef5466;
    font-size: 35px;
    margin-left: 10%;
}

div img
 {
     width: 450px;
     margin-left: 60%;
     margin-top: -55%;
    
 }

 section img
 {
     width: 250px;
     margin-left: 10%;
     
 }

section h1
 {
     margin-left: 35%;
     margin-top: -35%;
     font-size: 42px;
 }

#toujoursavecvous
{
    background-color: #ef5466;
}

#toujoursavecvous h1
{
    margin-left: 46%;
    color: white;
    font-size: 40px;
}

#toujoursavecvous p 
{
    margin-left: 46%;
    color: white;
    font-size: 20px; 
}

#profitez h1
{
    text-align: center;
    font-size: 45px;
}

#profitez p
{
    text-align: center;
    font-size: 11px;
    color: #8e8e94; 
}

#abonnement1
{
    border: 2px solid;
  padding: 30px;
  margin: 60px;
  width: 220px;
  height: 400px;
  text-align: center;
  border-width:3px;
    border-style:inset;
    border-color: #f9f9f9;
    border-left-width: 3px;
    margin-left: 15%;
        
}

#abonnement2

{
    border: 2px solid;
    padding: 30px;
    margin: 30px;
    width: 230px;
    height: 405px;
    text-align: center;
    border-width:3px;
      border-style:inset;
      border-color: #f9f9f9;
      border-left-width: 3px;
      margin-left: 38%;
      margin-top: -39%;
        background-color: #2d96c8;  
        color:white;
}

#abonnement3

{
    border: 2px solid;
    padding: 30px;
    margin: 60px;
    width: 230px;
    height: 400px;
    text-align: center;
    border-width:3px;
      border-style:inset;
      border-color: #f9f9f9;
      border-left-width: 3px;
      margin-left: 61%;
      margin-top: -38%;

}

#conditions
{
    color: #8e8e94; 
    text-align: center;
    font-size: 12px;
}

#abonnement
{
    border: solid 2px;
    padding: 30px;
    margin: 10px;
    width: 1200px;
    height: 90px;
    text-align: center;
    border-width:3px;
      
      border-left-width: 3px;
      margin-left: 7%;
      margin-top: 3%;
      background-color: #f9f9f9;
      border-color: #f9f9f9;

      
}

#hifi
{
    border: solid 2px;
    padding: 30px;
    margin: 10px;
    width: 1200px;
    text-align: center;
    border-width:3px;
      border-color:#f9f9f9;
      border-left-width: 3px;
      margin-left: 7%;
      height: 90px;
      background-color: #f9f9f9;
      
}

#abonnement6
{
    border: solid 2px;
    padding: 30px;
    margin: 10px;
    width: 1200px;
    text-align: center;
    border-width:3px;
      border-color: #f9f9f9;
      border-left-width: 3px;
      margin-left: 7%;
      height: 90px;
      background-color: #f9f9f9;
      
}

#abonnement h1
{
    text-align: left;
    font-size: 25px;
    margin-left: 83px;
    margin-top: -15px;
}

#abonnement h2
{
    margin-top: -49px;
    font-size: 30px;
    margin-left: -520px;
    color: #ef5466;
}

#abonnement p 
{
    margin-left: -580px;
    margin-top: -19px;
}

#abonnement a
{
    margin-left: -945px;
}

#abonner a
{
    
    margin-left: 745px;
    
}

#hifi h1
{
    text-align: left;
    font-size: 25px;
    margin-left: 83px;
}

#hifi p 
{
    margin-left: -700px;
    margin-top: -10px;
    
}

#hifi a
{
    margin-left: 745px;
    
}

#abonnement6 h1
{
    text-align: left;
    font-size: 25px;
    margin-left: 83px;
}

#abonnement6 h2
{
    margin-top: -49px;
    font-size: 30px;
    margin-left: -520px;
    color: #ef5466;
}

#abonnement6 p 
{
    margin-left: -700px;
    margin-top: -10px;
}

#abonnement6 a
{
    margin-left: 745px;
}

#deezerfin
{
    margin-left: 150px;
    margin-top: 100px;
    background-color: black;
   
    
}

#explorer
{
    margin-left: 480px;
    margin-top: -299px;
    background-color: black;
}

#quisommesnous
{
    margin-left: 780px; 
    margin-top: -245px;
    background-color: black;
}

#legalfin
{
    margin-left: 1100px;
    margin-top: -190px;
    background-color: black;
}

nav a
{
    text-decoration:none; 
    color:black;
    font-weight: bold;


}

html
{
    font-family: Roboto, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

div a
{
    text-decoration:none; 
}

header div
{
    margin-left: 50%;
    justify-content:center;
    
}


#toute
{
margin-left: 430px;
margin-top: -500px;
}

#bibliothèque
{
    margin-left: 430px;
}

#wifi
{
    margin-left: 830px;
    margin-top: -315px;
}

#ressemble
{
    margin-left: 830px;
    margin-top: -10px;
}

section
{
  background-color: #f9f9f9; 
}

#deezerprenium p
{
    color: white;
    width: 200px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 130%;
    

  
}

#deezergratuit p
{
    color: grey;
    width: 190px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 130%;
}

#deezerprenium button
{
background-color: #ef5466;
margin-left: 120PX;
border: #ef5466 ;



}

#deezergratuit button
{
    background-color: white;
    margin-top: -190PX;
    margin-left: 360PX;
      
}

button
 {
     border-radius: 50px;
     font-size: 12px;
     
 }

nav button 
{
    
    
    font-weight: bold;
    
}

ul
{
    list-style-type: none;
}

ul li
{
    text-align: left;
    color:grey
}

ul p 
{
    margin-top: -16px;
}
