header img
{
    width: 150px;
}

header nav
{
    padding-left: 65%;
    font-size: 20px;
    margin-top: -30px;
}

span h1
{
    font-size: 45px;
    margin-left: 10%;
    
}

span h2
{
    color: #ef5466;
    font-size: 35px;
    margin-left: 10%;
}

div img
 {
     width: 450px;
     margin-left: 60%;
     margin-top: -22%;
    
 }

 section img
 {
     width: 250px;
     margin-left: 10%;
     
 }

section h1
 {
     margin-left: 35%;
     margin-top: -35%;
     font-size: 42px;
 }

 #toute
 {
    margin-left: 35%;
    
 }

 #bibliothèque
 {
    margin-left: 35%;
 }

 #wifi

{
    margin-left: 60%;
    margin-top: -22%;
}

#ressemble 
{
    margin-left: 60%;
}

#toujoursavecvous
{
    background-color: #ef5466;
}

#toujoursavecvous h1
{
    margin-left: 46%;
    color: white;
    font-size: 40px;
}

#toujoursavecvous p 
{
    margin-left: 46%;
    color: white;
    font-size: 20px; 
}

#profitez h1
{
    text-align: center;
    font-size: 45px;
}

#profitez p
{
    text-align: center;
    font-size: 11px;
    color: #8e8e94; 
}

#abonnement1
{
    border: 2px solid;
  padding: 30px;
  margin: 60px;
  width: 220px;
  height: 350px;
  text-align: center;
  border-width:3px;
    border-style:inset;
    border-color: #f9f9f9;
    border-left-width: 3px;
    margin-left: 20%;
        
}

#abonnement2

{
    border: 2px solid;
    padding: 30px;
    margin: 60px;
    width: 230px;
    height: 400px;
    text-align: center;
    border-width:3px;
      border-style:inset;
      border-color: #f9f9f9;
      border-left-width: 3px;
      margin-left: 40%;
      margin-top: -32%;
        background-color: #2d96c8;  
        color:white;
}

#abonnement3

{
    border: 2px solid;
    padding: 30px;
    margin: 60px;
    width: 230px;
    height: 400px;
    text-align: center;
    border-width:3px;
      border-style:inset;
      border-color: #f9f9f9;
      border-left-width: 3px;
      margin-left: 61%;
      margin-top: -35%;
}

#conditions
{
    color: #8e8e94; 
    text-align: center;
    font-size: 12px;
}

#abonnement
{
    border: solid 2px;
    padding: 30px;
    margin: 80px;
    width: 1200px;
    text-align: center;
    border-width:3px;
      border-color: red;
      border-left-width: 3px;
      margin-left: 7%;
      
}

#hifi
{
    border: solid 2px;
    padding: 30px;
    margin: 80px;
    width: 1200px;
    text-align: center;
    border-width:3px;
      border-color: red;
      border-left-width: 3px;
      margin-left: 7%;
      
}

#abonnement6
{
    border: solid 2px;
    padding: 30px;
    margin: 80px;
    width: 1200px;
    text-align: center;
    border-width:3px;
      border-color: red;
      border-left-width: 3px;
      margin-left: 7%;
      
}

#abonnement h1
{
    text-align: left;
    font-size: 25px;
    margin-left: 83px;
}

#abonnement h2
{
    margin-top: -49px;
    font-size: 30px;
    margin-left: -520px;
    color: #ef5466;
}

#abonnement p 
{
    margin-left: -580px;
}